In [15]:
new_list = [53, 56, 57, 63, 66, 67, 67, 67, 68, 69, 70, 70, 70, 70, 72, 73, 75, 75, 76, 76, 78, 79,80,81]
import pandas
# equi-frequent bins
# print(pandas.qcut(new_list,q=3))
ef_bins, intervals = pandas.qcut(new_list,q=3,retbins=True)

In [11]:
# equi-width
# print(pandas.cut(new_list,bins=3))
ew_bins, intervals = pandas.cut(new_list,bins=3,right=False,retbins=True)

In [12]:
df = pandas.DataFrame()
df['original'] = new_list
df['ef_discretized'] = ef_bins
df['ew_discretized'] = ew_bins

In [13]:
df.head()

   original    ef_discretized    ew_discretized
0        53  (52.999, 67.667]    [53.0, 62.333)
1        56  (52.999, 67.667]    [53.0, 62.333)
2        57  (52.999, 67.667]    [53.0, 62.333)
3        63  (52.999, 67.667]  [62.333, 71.667)
4        66  (52.999, 67.667]  [62.333, 71.667)